<!-- Toolbar -->
<div class="toolbar" role="banner">
    <a href="/"><h1>BOOKISH</h1></a>
      <div class="spacer"></div>
      <a aria-label="github" target="_blank" rel="noopener" href="https://github.com/anhthuntr" title="Github">
        <img id="github-logo" src="/assets/github-mark.svg" data-name="Logo" viewBox="0 0 512 512" fill="#fff">
        
      </a>
      <a aria-label="linkedin" target="_blank" rel="noopener" href="https://www.linkedin.com/in/anhthuntr" title="LinkedIn">
        <img id="linkedin-logo" src ="/assets/linkedin.svg" data-name="Logo" viewBox="0 0 24 24" fill="#fff">
      </a>
  </div>